.container{
    width: 100%;
    padding: 80px 0px;
}
.heading {
    font-size: 36px;
    color: #212120;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
}
.sub_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

.box{
    position: relative;
}
.content{
    background-color: rgba(217, 217, 217, 0.58);
    box-shadow:  0px 4px rgba(0, 0, 0, 0.25);
    height: 205px;
    width: 416px;
    position: relative;
    color: #212120;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 20px;
    transition: .5s ease-in-out;
}
.content:hover{
    background-color:#192B3A;
    color: #FCFCFC;
}
.iconImg{
    background-color: #D5AF32;
    width: 69px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
    top: -50px;
    left: 20px;
    z-index: 999;
  
}
.content_heading{
font-size: 24px;
line-height: 110%;
}
.content_details{
    font-size: 16px;
    font-weight: 400;
    line-height: 125%;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}
.box:nth-child(4),.box:nth-child(5),.box:nth-child(6){
    margin-top: 80px;
}
@media screen and (min-device-width: 480px)
and (max-device-width:768px){
    .container{
        padding: 30px 0;
    }
    .heading{
        font-size: 24px;
    }
    .sub_container{
        flex-direction: column;
    }
    .content{
        height: auto;
        width: auto;
        padding: 30px ;
    }
    .content_heading{
        font-size: 18px;
    }
    .content_details{
        font-size: 14px;
    }
    .box{
        margin-top: 100px;
    }
    .box:first-child{
        margin-top: -30px;
    }   
}



@media screen and (min-device-width: 768px)
and (max-device-width: 1024px){
    .sub_container{
        flex-direction: column;
    }
    .content{
        height: auto;
        width: auto;
        padding: 30px ;
    }
    .content_heading{
        font-size: 18px;
    }
    .content_details{
        font-size: 14px;
    }
    .box{
        margin-top: 100px;
    }
    .box:first-child{
        margin-top: -30px;
    }
}

/*For Mobile Portrait view*/

@media screen and (max-device-width: 480px) {
    .container{
        padding: 40px 0 20px;
    }
    .heading{
        font-size: 24px;
    }
    .sub_container{
        flex-direction: column;
    }
    .content{
        height: auto;
        width: auto;
        padding: 30px ;
    }
    .content_heading{
        font-size: 18px;
    }
    .content_details{
        font-size: 14px;
    }
    .box{
        margin-top: 100px;
    }
    .box:nth-child(4),.box:nth-child(5),.box:nth-child(6){
        margin-top: 100px;
    
    }
    .box:first-child{
        margin-top: -30px;
    }
    }
    
    
    /* For Mobile Landscape View */
    @media screen and (max-device-width: 640px) and (orientation: landscape) {
        .container{
            padding: 30px 0;
        }
        .heading{
            font-size: 24px;
        }
        .sub_container{
            flex-direction: column;
        }
        .content{
            height: auto;
            width: auto;
            padding: 30px ;
        }
        .content_heading{
            font-size: 18px;
        }
        .content_details{
            font-size: 14px;
        }
        .box{
            margin-top: 100px;
        }
        .box:first-child{
            margin-top: -30px;
        }
    }
