

.main{
    color: #FFFFFF;
    width: 100%;
    /* padding: 80px 0px 10px; */
    border-top: 1px solid rgba(255, 255, 255, 0.11);
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
}
.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.left_sub{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.coloumn{
    flex: 1;
    border-right: 1px solid rgba(255, 255, 255, 0.11);
padding-top: 65px
    ;
}
.coloumn:last-child {
    border-right: none; /* Remove border for the last column */
  }
.menuitems{
    color: #FFF;
gap: 42px;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 18px;
display: flex;
align-items: center;
margin-bottom: -19px;
padding: 15px 0;
}
.quicklink{
    color: #FFF;

font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.box{
    margin-bottom: 20px;
}
.title{
    font-size: 16px;
font-weight: 500;
line-height: 140%;
  cursor: pointer;
  width: max-content;
  width: 89%;
  padding: 18px 10px 18px 15px;
    background: rgba(255, 255, 255, 0.03);
    display: flex;
    gap: 10px;
    align-items: center;
}
.title:hover{
    color: #D4AE31;
}
.titlemob{
    font-size: 16px;
font-weight: 500;
line-height: 120%;
  cursor: pointer;
  width: max-content;
  width: 72%;
    padding: 10px 10px 10px 15px;
    background: rgba(255, 255, 255, 0.03);
    display: flex;
    gap: 5px;
}
.titlemob:hover{
    color: #D4AE31;
}
.titlehead{
    font-size: 22px;
    font-weight: 500;
    gap: 5px;
    padding-bottom: 15px;
}
.subscribediv{
    display: flex;
    /* gap: 47px; */
    margin-bottom: 34px;
}
.subscribediv button{
    background-color: #D4AE31;
    color: #002A3A;
    font-weight: 600;
    font-size: 16px;
    border: none;
    padding: 0 20px;
    border: 1px solid #D4AE31;
    cursor: pointer;
}
.subscribediv button:hover{
   
    color: white;
}
.subscribebox{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
}
/* .Upper{
    height: 30px;
} */
.box ul{
    margin: 20px 0 ;
    padding: 0;
    
}
.box .commonList  li,.box .contactList  li{
    display: flex;
    align-self: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    list-style: none;
    margin-bottom: 12px;
    transition: .3s;
 
}
.follow{
    color: #FFF;

font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 15px; /* 107.143% */
letter-spacing: 0.75px;
}
.box .contactList  li{
    margin-bottom: 14px;
    line-height: 150%;
}
/* .iconA{
} */
.add{
    /* margin-left: 20px; */
}
.box .commonList li:hover,.linksH:Hover{
    color: #D4AE31;
    cursor: pointer;
}
.colorY:hover{
    color: #D4AE31;
}
.linksH{
    margin-bottom: 10px;
}

.social{
display: flex;
align-items: center;
}
.icon{
    margin-right: 18px;
    padding: 2px;
    width: 38px;
    height: 38px;
    /* border: 1px solid #FCFCFC; */
    border-radius: 8px;
    display: flex;
align-items: center; 
justify-content: center; 
transition: .3s ease-in-out;
cursor: pointer;
background: #23415A;
}
.icon:hover{
    background-color: #D4AE31;
    border: none;
}

.line{
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    border: .1px solid rgba(255, 255, 255, 0.11);
    margin-top: -20px;   
}
.copy{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 300;
    color:rgba(255, 255, 255, 0.91);
    /* text-align: center; */
}
.border{
    border:2px solid #D4AE31;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 15px;
}
.mobContainer,.mobOnly{
    display: none;
}
.width{
width: 89%;
display: flex;
align-items: center
}
.spclClm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.utube{
    position: relative;
    aspect-ratio: 1/1;
    width: 30px;
}
.mobilesubscribe{
    display: none;
}
.follow_wrapper{
    margin-top: 0;
     margin-bottom: 35px
}
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px){
.box{
    width: auto;
}
.coloumn{
  flex: 50%;
}
.Upper{
    height: 45px;
}
}
@media (max-width:600px ) {
    .mobileicon{
        width: 16%;
    }
    .subscribediv button:hover{
        background-color: #D4AE31;
    color: #002A3A;
    }
    .mobileborder{
        border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    }
    .menuitems{
        flex-direction: column;
        align-items: baseline;
        gap: 0;
        /* border-bottom: 1px solid rgba(255, 255, 255, 0.11); */
    }
    .container{
        flex-direction: column;
    }
    .mobilesubscribe{
        display: block;
        margin-top: 50px;
    }
    .follow{
        font-size: 22px;
    }
    .follow_wrapper{
        margin-bottom: 0;
        padding: 15px;
    }
    .title{
        width: 100%;
        display: flex;
    align-items: center
    }
    .websubscribe{
        display: none;
    }
    .subscribediv{
        /* display: none; */
        margin-bottom: 25px;
    margin-top: 38px
    }
    .coloumn{
        padding-top: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    padding-bottom: 30px;
    border-right: none;
    }
    .subscribediv button{
        padding: 0 12px
    }
    .coloumn:last-child {
        border-bottom: none;
      }
      
}
@media screen and (min-device-width: 480px)
and (max-device-width:765px){
    .main{
        border-top-right-radius: 0;
        padding: 40px 0px;
    }
    /* .container{
        display: none;
    } */
    .box{
       width: 100%;
       /* border: 2px solid #FCFCFC; */
       /* border-top-right-radius: 20px;
       border-bottom-left-radius: 20px; */
       padding: 15px;
       margin-bottom: 15px;
    }
    .list{
        padding-bottom: 30px;
    }
    .list li{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .list ul li:hover{
        color: #D4AE31;
    }
   
    .mobContainer{
       display: block;
    }
    
.btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.my_collapse {
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}
.title{
    height: auto;
}
.linksH{
    padding: 5px;
    margin-bottom: 0px;
}
.contact{
    text-align: center;
    font-size:20px;
    font-weight: 500;
}

.box .contactList  li{
    font-size: 18px;

}

.social{
    justify-content: space-between;
}
.icon{
    width: 60px;
    height: 60px;
}
.line{
    margin-top: 0px;
}
.mobOnly{
    display: block;
}
.addBox ul {
    display: flex;
    justify-content: center;
}
}
@media screen and (max-device-width: 480px) {
    .main{
        border-top-right-radius: 0;
        padding: 30px 0px;
    }
    /* .container{
        display: none;
    } */
    .box{
       width: 100%;
       /* border: 2px solid #FCFCFC;
       border-top-right-radius: 20px;
       border-bottom-left-radius: 20px; */
       padding:10px 15px;
       margin-bottom: 0;
    }
    .list{
        padding-bottom: 30px;
    }
    .list li{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .list ul li:hover{
        color: #D4AE31;
    }
   
    .mobContainer{
       display: block;
    }
    
.btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.my_collapse {
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}
.title{
    height: auto;
}
.linksH{
    padding: 5px;
    margin-bottom: 0px;
}
.contact{
    text-align: center;
    font-size:20px;
    font-weight: 500;
}

.box .contactList  li{
    font-size: 18px;

}

.social{
    /* justify-content: space-between; */
}
.icon{
    width: 38px;
    height: 38px;
}
/* .line{
    margin-top: 20px;
} */
.mobOnly{
    display: block;
}
}

@media screen and (max-device-width: 640px)
and (orientation: landscape) {
    .main{
        border-top-right-radius: 0;
        padding: 40px 30px;
    }
    /* .container{
        display: none;
    } */
    .box{
       width: 100%;
       border: 2px solid #FCFCFC;
       border-top-right-radius: 20px;
       border-bottom-left-radius: 20px;
       padding: 15px;
       margin-bottom: 15px;
    }
    .list{
        padding-bottom: 30px;
    }
    .list li{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .list ul li:hover{
        color: #D4AE31;
    }
   
    .mobContainer{
       display: block;
    }

    
.btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.my_collapse {
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}
.title{
    height: auto;
    
}
.linksH{
    padding: 5px;
    margin-bottom: 0px;
}
.contact{
    text-align: center;
    font-size:20px;
    font-weight: 500;
}

.box .contactList  li{
    font-size: 18px;

}
.social{
    justify-content: space-between;
}
.icon{
    width: 60px;
    height: 60px;
}
.line{
    margin-top: 20px;
}
.mobOnly{
    display: block;
}

}