.box{
    flex: 1;
    padding: 0 10px;
}


.content{
    display: flex;
    align-items: center;
 margin-bottom: 10px;
}

.no_and_line{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex:1
}
.num{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #D4AE31;
    line-height: 120%;
    margin-top: 10px;
    margin-right: 5px;
}
.step{
    font-weight: 700;
    font-size: 24px;
    /* color: #FFFFFF; */
    line-height: 120%; 
    margin-top: 10px;
    flex: 2;
    margin-left: 5px;
    color: #D4AE31;
    /* margin-left: 20px; */
}

@media screen and (max-device-width: 1024px) {
.no_and_line{
    flex: none;
    margin-right: 10px;
}
}
@media screen and (max-device-width: 480px)  {
    .box{
        padding: 0;
        margin-bottom: 25px;      
    }
    .num{
        font-size: 24px;
    }
    .step{
        font-size: 20px;
    }
}