.FCS_section_container {
    padding: 80px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.FCS_section_L,
.FCS_section_R {
    width: 49%;
    /* border: 1px solid red; */
}

.FCS_sectionBox {
    border: 5px solid #192B3A;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 30px;
}

.FCS_sectionBox:nth-child(1) {
    margin-bottom: 20px;
}

.FCS_sectionBoxHead {
    color: #212120;
    font-size: 32px;
    line-height: 120%;
    font-weight: 500;
}
.FCS_section2_container {
    background-color: #192B3A;
    width: 100%;
    padding: 80px 0px;
}

.FCS_section2_Box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.FCS_section2_content {
    /* flex:1; */
    width: 50%;
    padding-right: 30px;
}
.FCS_section2_YHead {
    color: #D4AE31;
    font-size: 20px;
    font-weight: 400;
    line-height: 110%;
    text-align: center;
    margin-top: 40px;
}
.FCS_Section3_container {
    width: 100%;
    padding: 80px 0px;
}

.FCS_Section3_sub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.letsTalk_Blue {
    background-color: #192B3A;
    width: 442px;
    height: 539px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 30px;
}
.FCS_Section3_L {
    flex: 1;
}
.FCS_Section3_L ul {
    margin-top: 15px;
    margin-left: -40px
}
.FCS_Section3_L ul li {
    list-style: none;
    margin-bottom: 10px;
    transition: .3s;
    display: flex;
    cursor: pointer;
}
.FCS_Section3_L ul li .key{
    margin-left: 15px;
}
.WhatYouGetWithMs_container3 {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 80px 0px;
}
.WhatYouGetWithMs_left2 {
    background-color: #192B3A;
    width: 416px;
    height: 271px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.WhatYouGetWithMs_left2 .heading2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 110%;
    font-weight: 500;
    color: #FFFFFF;
    padding-top: 15%;
    padding-left: 30px;
}
.WhatYouGetWithMs_right3 {
    box-shadow: 4px 4px 4px 4px rgba(217, 217, 217, 0.58);
    background-color: #FCFCFC;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1272px;
    height: 400px;
    padding-bottom: 0px;
    padding-right: 10px;
    margin-top: 130px;
    margin-left: -250px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}
.WhatYouGetWithMs_box4 {
    width: 25%;
    /* display:flex ; */
}
.imgBox{
  width: 30%;
}
.contentBox{
    width: 70%;
}
.yellowBgImg2 {
    background-color: #D4AE31;
    width: 90px;
    height: 70px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yellowBgImg2_1{
    background-color: #D4AE31;
    width: 120px;
    height: 70px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yellowBgImg2_2{
    background-color: #D4AE31;
    width: 75px;
    height: 70px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whatYouGetWithMsDetail4 {
    color: #212120;
    font-size: 20px;
    font-weight: 300;
    line-height: 120%;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}
.details20Open400Blue {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #192B3A;
    line-height: 120%;
}
.details24400W {
    /* border:1px solid yellow; */
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    margin-top: 20px;
}

.FCS_section2_container h3{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 36px;
    line-height: 110%;
    text-align: center;
}
.mb{
    margin-bottom: 30px;
}
.keyWidth{
    width: 90%;
}
.expertMobWrap{
    display: none;
}

@media only screen and (max-width: 1200px) {
.FCS_Section3_container {
    padding: 80px 20px;
}
}
@media screen and (min-device-width: 480px)
and (max-device-width:768px){
    .FCS_section_container ,.FCS_section2_container,.FCS_Section3_container,.WhatYouGetWithMs_container3  {
        padding: 40px 20px;
    }   
    .FCS_sectionBoxHead ,.details24400W {
        font-size: 20px;
    }
    .details20Open400Blue {
        font-size:14px
    }
    .FCS_section2_container h3{
        font-size: 24px;
    }
    .FCS_section2_Box {
        flex-direction: column;
        
    }
    .FCS_section2_content {
        width: 100%;
        padding-right: 0;
    }
    .FCS_section2_YHead {
        font-size: 16px;
    }
    .mb{
        margin-bottom: 20px;
    }
    .letsTalk_Blue ,.WhatYouGetWithMs_left2 ,.WhatYouGetWithMs_right3{
        display: none;
    }
    .WhatYouGetWithMs_container4{
        padding: 40px 20px;
    }
    .whatYouGetWithMsDetail4{
        font-size: 18px;
        margin-top: 0;
        padding: 0;
        font-family: 400;
        margin-top: 0px;
        margin-left: 15px;
        margin-right: 0px;
        text-align: unset;
    }
    .expertMobWrap{
        display: block;
    }
    .expertMobWrap h3{
        font-size: 24px;
        text-align: center;
        font-weight: 600;
        line-height: 120%;
    }
 
    .displayFlex{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
}
@media screen and (max-device-width: 480px) {
    .FCS_section_container ,.FCS_section2_container,.FCS_Section3_container,.WhatYouGetWithMs_container3  {
        padding: 40px 0px;
    }   
    .FCS_section_L,
.FCS_section_R {
    width:auto;
    /* border: 1px solid red; */
}

    .FCS_sectionBoxHead ,.details24400W {
        font-size: 20px;
    }
    .details20Open400Blue {
        font-size:14px
    }
    .FCS_section2_container h3{
        font-size: 24px;
    }
    .FCS_section2_Box {
        flex-direction: column;
        
    }
    .FCS_section2_content {
        width: 100%;
        padding-right: 0;
    }
    .FCS_section2_YHead {
        font-size: 16px;
    }
    .mb{
        margin-bottom: 20px;
    }
    .letsTalk_Blue ,.WhatYouGetWithMs_left2 ,.WhatYouGetWithMs_right3{
        display: none;
    }
    .WhatYouGetWithMs_container4{
        padding: 40px 20px;
    }
    .whatYouGetWithMsDetail4{
        font-size: 18px;
        margin-top: 0;
        padding: 0;
        font-family: 400;
        margin-top: 0px;
        margin-left: 15px;
        margin-right: 0px;
        text-align: unset;
    }
    .expertMobWrap{
        display: block;
    }
    .expertMobWrap h3{
        font-size: 24px;
        text-align: center;
        font-weight: 600;
        line-height: 120%;
    }
 
    .displayFlex{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
}