.startupSec_list ul
{
    margin-top: 15px;
    margin-left: -40px
}
.startupSec_list ul li {
    list-style: none;
    margin-bottom: 10px;
    transition: .3s;
    display: flex;
    cursor: pointer;
}
.startupSec_list ul li {
    font-size: 18px;
}
.startupSec_list ul li .key {
    margin-left: 15px;
}

.WhatYouGetWithMs_container2 {
    width: 100%;
    background-color: #FCFCFC;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 80px 0px 0px;
}
.WhatYouGetWithMs_left2 {
    background-color: #192B3A;
    width: 416px;
    height: 271px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.WhatYouGetWithMs_left2 .heading2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 110%;
    color: #FFFFFF;
    padding-top: 15%;
    padding-left: 30px;
}
.WhatYouGetWithMs_right2 {
    box-shadow: 4px 4px 4px 4px rgba(217, 217, 217, 0.58);
    background-color: #FCFCFC;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding-bottom: 45px;
    padding-right: 10px;
    margin-top: 130px;
    margin-left: -250px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}
.WhatYouGetWithMs_box2 {
    width: 20%;
    height:auto;
    padding-bottom: 20px;
}
.yellowBgImg2 {
    background-color: #D4AE31;
    width: 90px;
    height: 70px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yellowBgImg2spcl{
    background-color: #D4AE31;
    width: 80px;
    height: 70px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whatYouGetWithMsDetail2 {
    color: #212120;
    font-size: 20px;
    font-weight: 300;
    line-height: 120%;
    padding: 30px 25px 0;
}
.expertMobWrap{
   display: none;
}
.imgBox{
    width: 30%;
  }
  .contentBox{
      width: 70%;
  }

  @media screen and (min-device-width: 480px)
and (max-device-width:768px){
    .WhatYouGetWithMs_container2 {
        padding: 40px 20px;
    }
    .WhatYouGetWithMs_left2,.WhatYouGetWithMs_right2 {
        display: none;
    }
    .whatYouGetWithMsDetail2{
        font-size: 18px;
        margin-top: 0;
        padding: 0;
        font-weight: 400;
    
    }
    .expertMobWrap{
        display: block;
    }
    .expertMobWrap h3{
        font-size: 24px;
        text-align: center;
        font-weight: 600;
        line-height: 120%;
    }
 
    .displayFlex{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    
    }
}

@media screen and (max-device-width: 480px)  {
    .WhatYouGetWithMs_container2 {
        padding: 40px 20px;
    }
    .WhatYouGetWithMs_left2,.WhatYouGetWithMs_right2 {
        display: none;
    }
    .whatYouGetWithMsDetail2{
        font-size: 18px;
        margin-top: 0;
        padding: 0;
        font-weight: 400;
    
    }
    .expertMobWrap{
        display: block;
    }
    .expertMobWrap h3{
        font-size: 24px;
        text-align: center;
        font-weight: 600;
        line-height: 120%;
    }
 
    .displayFlex{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    
    }
}