.container{
    background-color: #FFFFFF;
    color: #212120;
}
.Job_Vacancy_container{
    width: 100%;
    /* background-color: #F5F5F5; */
        position: relative;
}
.banner_container_work{
    width: 100%;
    /* min-height: 100vh; */
    background-color:#192B3A;
    /* background-position: right; */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-bottom-left-radius: 100px;
 } 
 .footer{
    background-color: #192B3A;
    border-top-right-radius: 100px;
  }
 @media screen and (min-device-width: 480px)
and (max-device-width:768px){
    .banner_container_work{
        border-bottom-left-radius: 50px;
    }
}
 @media screen and (max-device-width: 480px)  {
    .banner_container_work{
        border-bottom-left-radius: 50px;
    }
 }